.lessonItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  margin-bottom: 12px;

  border-radius: 12px;

  cursor: pointer;

  background: var(--card-color);
}

.lessonItem h3 {
  margin-top: 4px;
}

.lessonStatus {
  font-size: 22px;
  font-weight: bold;
}